@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  color: gray;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.docplanner-header {
  display: flex;
  padding: 30px 100%;
  justify-content: space-between;
  zoom: 1;
  max-width: 1015px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background: hsla(0, 0%, 100%, 0.98);
}
.logo-docplanner {
  transform: scale(1.4);
}
a {
  color: gray;
  text-decoration: none;
}

.navbar {
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.active-link {
  color: #00b39b;
  margin-right: 10px;
}

/*lead-section*/

.lead-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  margin: 8em auto 3.75rem;
}
.lead-section h1 {
  color: #00b39b;
  margin: 2.0625rem auto 3.75rem;
}
.lead-section-content {
  display: flex;
  justify-content: center;
}

.lead-introduction {
  width: 50%;
}
.lead-introduction p {
  font-family: Roboto, Arial, sans-serif;
  margin: 0.8em 0;
  line-height: 1.75;
  font-weight: 400;
  padding: 15px;
}

/*services-section*/

.services-section {
  display: flex;
  justify-content: space-around;
  max-width: 1080px;
  margin: 2.0625rem auto 3.75rem;
  /*
    max-width: 1015px;
*/
  color: aliceblue;
}

.service-item {
  background-color: #00ccb1;
  border-radius: 8px;
  padding: 25px;
  max-width: max-content;
  width: 40%;
  height: 370px;
  overflow: hidden;
  position: relative;
  transition: all 0.35s ease 0s;
  transform: translate(0);
  opacity: 1;
}

.service-cible {
  font-weight: 500;
}

.service-title {
  padding: 0;
  font-size: 1.625em;
  font-weight: 200;
  color: #fff;
}

.service-item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.service-patients-select {
  max-height: 50px;
  padding: 15px;
  border-radius: 5px;
  outline: transparent;
}

.service-item-screen {
  position: absolute;
  transform: scale(1.06);
  top: 11em;
  right: -8em;
}

/*brand section*/

.brands-section {
  display: flex;
  margin: 0rem auto 3.75rem;
  justify-content: flex-start;
  align-items: center;
}

.brands-section-title {
  font-weight: 200;
  color: #00b3b9;
  width: 20%;
  padding-left: 5%;
  padding-right: 10%;
  font-size: 1.625em;
  margin: 0.5em -4em 0em 12rem;
}

.brands-lists {
  width: 60%;
  padding: 0px;
}

.brands-list {
  word-wrap: normal;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
}

.brands-list-item {
  padding: 0 10px;
  list-style: none;
  font-size: 1rem;
  display: inline-block;
}
.brands-list-item path {
  fill: rgb(163, 159, 159) !important;
  zi
}
.brands-list-item:hover path {
  fill: #00b39b !important;
}

/*stats-section*/

.stats-section {
  display: flex;
  justify-content: center;
  background-color: #e5faf8;
  padding: 1.875em 0 0.625em;
  position: relative;
  overflow: hidden;
}

.stats-header {
  margin-right: 9em;
  margin-left: 2em;
}
.stats-section svg {
  position: absolute;
  bottom: -30px;
  left: 10px;
  zoom: 4;
  
}
.stats-header-title {
  font-size: 2.125rem;
  color: #00b39b;
  font-weight: 300;
}

.stats-header-desc {
  max-width: 415px;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.8142857143;
  color: #747474;
}

.stats-items {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  z-index: 3;
}

.stats-item {
  max-height: 400px;
  max-width: 400px;
  width: max-content;
  margin: 10px;
  padding: 20px 20px;
  background-color: white;
  zoom: 1.2;
}

.stats-cart {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cart-img {
  padding-top: 20px;
}
.card-title {
  font: outline;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 100;
  color: #00b39b;
  margin: 0.5em 0;
}
.cart-desc {
  font-size: 0.9rem;
  margin: 0.5em 0;
}
.stats-cart-list-1 {
  margin-top: 2em;
  margin-left: 1em;
}
.offices-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 20px;
}

.offices-section-title {
  color: #00b39b;
  font-size: 2.1428571429em;
  font-weight: 300;
  letter-spacing: 0.3px;
  width: 30%;
}
.offices-section-description {
  font-size: 0.9em;
  line-height: 1.7142857143;
  margin: 1em 0;
  width: 30%;
  text-align: center;
}
.offices-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
.offices-item {
  z-index: 2;
  width: max-content;
  margin: 10px;
  border-radius: 5px;
}
.offices-item:hover {
  box-shadow: -2px 3px 50px 3px rgba(0, 0, 0, 0.43);
}

.office-image {
  border-radius: 5px;
  margin-block-end: 10px;
}
.office-desc {
  display: flex;
  justify-content: space-around;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.6666666667;
  margin: 10px auto;
}
.option-button {
  vertical-align: middle;
  border-radius: 4px;
  padding: 1em 1.1em;
  background: #3d83df;
  font-family: Roboto;
  line-height: 1em;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 0.7rem;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
}
footer {
  padding: 20px;
  text-align: center;
}
